<form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
  <nz-form-item>
    <nz-form-label [nzSm]="3" [nzXs]="24" nzRequired nzFor="name">名称</nz-form-label>
    <nz-form-control [nzSm]="21" [nzXs]="24">
      <input nz-input formControlName="name" id="name" />
      <nz-form-explain *ngIf="validateForm.get('name').dirty && validateForm.get('name').errors">大屏名称不可以为空!</nz-form-explain>
    </nz-form-control>
  </nz-form-item>
  <nz-divider [nzDashed]="true"></nz-divider>
  <span>基于模板创建(选中某模板后，再次点击该模板可取消选中)</span>
  <div nz-row nzType="flex" nzJustify="space-between">
    <div nz-col nzSpan="12" style="height:16px"></div>
    <div nz-col nzSpan="12" style="height:16px"></div>
    <div nz-col [ngClass]="{'template-card': true,'selected-card':selected1}" (click)="checked(1)">
      <div style="text-align:center; padding:4px">
        <img width="260px" height="140px" src="./assets/images/templet-01.png" />
      </div>
      <div style="text-align: center">模板一</div>
    </div>
    <div nz-col [ngClass]="{'template-card': true,'selected-card':selected2}" (click)="checked(2)">
      <div style="text-align:center; padding:4px">
        <img width="260px" height="140px" src="./assets/images/templet-02.png" />
      </div>
      <div style="text-align: center">模板二</div>
    </div>
    <div nz-col nzSpan="12" style="height:16px"></div>
    <div nz-col nzSpan="12" style="height:16px"></div>
    <div nz-col [ngClass]="{'template-card': true,'selected-card':selected3}" (click)="checked(3)">
      <div style="text-align:center; padding:4px">
        <img width="260px" height="140px" src="./assets/images/templet-03.png" />
      </div>
      <div style="text-align: center">模板三</div>
    </div>
    <div nz-col [ngClass]="{'template-card': true,'selected-card':selected4}" (click)="checked(4)">
      <div style="text-align:center; padding:4px">
        <img width="260px" height="140px" src="./assets/images/templet-04.png" />
      </div>
      <div style="text-align: center">模板四</div>
    </div>
  </div>
  <nz-divider [nzDashed]="true"></nz-divider>
  <nz-form-item>
    <nz-form-label [nzSm]="3" [nzXs]="24" nzRequired nzFor="remark">简介</nz-form-label>
    <nz-form-control [nzSm]="21" [nzXs]="24">
      <input nz-input formControlName="remark" id="remark" />
      <!-- <nz-form-explain *ngIf="validateForm.get('remark').dirty && validateForm.get('remark').errors"></nz-form-explain> -->
    </nz-form-control>
  </nz-form-item>
  <nz-divider [nzDashed]="true"></nz-divider>
  <nz-form-item>
    <nz-form-label [nzSm]="3" [nzXs]="24" nzRequired nzFor="icon">图标</nz-form-label>
    <nz-form-control [nzSm]="21" [nzXs]="24">
        <nz-select nzShowSearch nzAllowClear nzPlaceHolder="选择图标" formControlName="icon">
            <nz-option nzCustomContent nzLabel="饼状图" nzValue="anticon anticon-pie-chart"><i class="anticon anticon-pie-chart"></i></nz-option>
            <nz-option nzCustomContent nzLabel="堆叠图" nzValue="anticon anticon-area-chart"><i class="anticon anticon-area-chart"></i></nz-option>
            <nz-option nzCustomContent nzLabel="柱状图" nzValue="anticon anticon-bar-chart"><i class="anticon anticon-bar-chart"></i></nz-option>
            <nz-option nzCustomContent nzLabel="散点图" nzValue="anticon anticon-dot-chart"><i class="anticon anticon-dot-chart"></i></nz-option>
            <nz-option nzCustomContent nzLabel="线状图" nzValue="anticon anticon-line-chart"><i class="anticon anticon-line-chart"></i></nz-option>
          </nz-select>
      <!-- <nz-form-explain *ngIf="validateForm.get('icon').dirty && validateForm.get('icon').errors">图标无效</nz-form-explain> -->
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSm]="5" [nzXs]="24" nzRequired nzFor="isDev">是否开发模式</nz-form-label>
    <nz-form-control [nzSm]="19" [nzXs]="24">
      <nz-switch formControlName="isDev" id="isDev"></nz-switch>
      <!-- <nz-form-explain *ngIf="validateForm.get('icon').dirty && validateForm.get('icon').errors">图标无效</nz-form-explain> -->
    </nz-form-control>
  </nz-form-item>

</form>
