<form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
    <nz-form-item>
      <nz-form-label [nzSm]="2" [nzXs]="24" nzRequired nzFor="name">名称</nz-form-label>
      <nz-form-control [nzSm]="22" [nzXs]="24">
        <input nz-input formControlName="name" id="name" />
        <nz-form-explain *ngIf="name.dirty && name.errors">名称不可以为空!</nz-form-explain>
      </nz-form-control>
    </nz-form-item>
    <nz-divider [nzDashed]="true"></nz-divider>
    <nz-form-item>
      <nz-form-label [nzSm]="2" [nzXs]="24" nzRequired nzFor="remark">简介</nz-form-label>
      <nz-form-control [nzSm]="22" [nzXs]="24">
        <input nz-input formControlName="remark" id="remark" />
        <!-- <nz-form-explain *ngIf="validateForm.get('remark').dirty && validateForm.get('remark').errors"></nz-form-explain> -->
      </nz-form-control>
    </nz-form-item>
    <nz-divider [nzDashed]="true"></nz-divider>
    <nz-form-item>
      <nz-form-label [nzSm]="4" [nzXs]="24" nzFor="isDev">开启开发模式</nz-form-label>
      <nz-form-control [nzSm]="20" [nzXs]="24">
        <nz-switch formControlName="isDev"></nz-switch>
        <!-- <nz-form-explain *ngIf="validateForm.get('remark').dirty && validateForm.get('remark').errors"></nz-form-explain> -->
      </nz-form-control>
    </nz-form-item>
    <nz-divider [nzDashed]="true"></nz-divider>
    <nz-form-item>
      <nz-form-label [nzSm]="2" [nzXs]="24" nzRequired nzFor="icon">图标</nz-form-label>
      <nz-form-control [nzSm]="22" [nzXs]="24">
        <input nz-input  id="icon" />
        <!-- <nz-form-explain *ngIf="validateForm.get('icon').dirty && validateForm.get('icon').errors">图标无效</nz-form-explain> -->
      </nz-form-control>
    </nz-form-item>

  </form>
