<nz-tabset ngForm>
  <nz-tab nzTitle="数据">
    <nz-collapse [nzBordered]="false" class="zijin-form">
      <nz-collapse-panel nzHeader="X 轴">

      </nz-collapse-panel>
      <nz-collapse-panel nzHeader="Y 轴">
        <div nz-row nzType="flex">
          <div nz-col [nzSpan]="10" style="margin-bottom: 8px">
            <span class="item-title" style="line-height: 36px;">气泡大小:</span>
          </div>
          <div nz-col [nzSpan]="14" style="margin-bottom: 8px">
            <nz-slider [nzMin]="10" [nzMax]="50" name="rotate" [(ngModel)]="option?.series[3].symbolSize"
                       nzSize="small"></nz-slider>
          </div>
        </div>
      </nz-collapse-panel>
    </nz-collapse>
  </nz-tab>
  <nz-tab nzTitle="样式">
    <nz-collapse [nzBordered]="false" class="zijin-form">
      <nz-collapse-panel nzHeader="标题">
        <app-title-config name="title" [ngModel]="option.title"></app-title-config>
      </nz-collapse-panel>
      <nz-collapse-panel nzHeader="绘图区">
        <app-grid-config name="grid" [ngModel]="option.grid"></app-grid-config>
      </nz-collapse-panel>
      <nz-collapse-panel nzHeader="颜色">
      </nz-collapse-panel>
    </nz-collapse>
  </nz-tab>
</nz-tabset>
