<nz-content style="padding:0 16px 16px 16px">
  <div nz-row style="background-color: rgb(246,248,248) ;border-bottom: 1px solid rgb(222,230,231);padding: 8px 0;">
    <div nz-col nzSpan="4" style="line-height: 32px; font-size: x-large ">
      公司设置
    </div>
  </div>

  <div nz-row style="padding-top: 16px">
    <div nz-col nzSpan="24">
      <nz-card style="width: 70% ;" >

        <form nz-form >
          <nz-form-item nz-row >
            <nz-form-label [nzSpan]="8" >公司名称</nz-form-label>
            <nz-form-control [nzSpan]="16">
              <input nz-input  name="companyName" [(ngModel)]="companyName">
              <!--<nz-form-explain *ngIf="validateForm.get('email').dirty && validateForm.get('email').errors">The input is not valid E-mail!</nz-form-explain>-->
            </nz-form-control>
          </nz-form-item>

          <nz-form-item nz-row >
            <nz-form-label [nzSpan]="8" >空间数量</nz-form-label>
            <nz-form-control [nzSpan]="16">
              <h4>{{spaceNum}}</h4>
              <!--<nz-form-explain *ngIf="validateForm.get('email').dirty && validateForm.get('email').errors">The input is not valid E-mail!</nz-form-explain>-->
            </nz-form-control>
          </nz-form-item>

          <nz-form-item nz-row >
            <nz-form-label [nzSpan]="8" >只允许管理员创建空间</nz-form-label>
            <nz-form-control [nzSpan]="16">
              <nz-switch name="onlyAdmin" [(ngModel)]="onlyAdmin" nzCheckedChildren="是" nzUnCheckedChildren="否"></nz-switch>
            </nz-form-control>
          </nz-form-item>

          <nz-form-item nz-row >
            <nz-form-label [nzSpan]="8" >公司管理员</nz-form-label>
            <nz-form-control [nzSpan]="16">

              <div *ngFor="let admin of admins"><label nz-checkbox  name="checked"  (ngModelChange)="updateChecked(admin)"  [(ngModel)]="admin.checked" >{{admin.userName}}</label></div>

              <nz-input-group nzSearch nzSize="large" [nzSuffix]="suffixButton">
                <input type="text" nz-input placeholder="搜索用户">
              </nz-input-group>
              <ng-template #suffixButton>
                <button nz-button nzType="primary" nzSize="large" nzSearch>Search</button>
              </ng-template>


            </nz-form-control>
          </nz-form-item>

          <nz-divider></nz-divider>

          <button nz-button [nzType]="'primary'" style="float: right">确定</button>
        </form>

      </nz-card>
    </div>
  </div>
</nz-content>

