<form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
  <nz-form-item>
    <nz-form-label [nzSm]="3" [nzXs]="24" nzRequired nzFor="name">名称</nz-form-label>
    <nz-form-control [nzSm]="21" [nzXs]="24">
      <input nz-input formControlName="name" id="name" />
      <nz-form-explain *ngIf="validateForm.get('name').dirty&&validateForm.get('name').errors">名称不可以为空!</nz-form-explain>
    </nz-form-control>
  </nz-form-item>
  <nz-divider [nzDashed]="true"></nz-divider>
  <nz-form-item>
    <nz-form-label [nzSm]="3" [nzXs]="24" nzFor="remark">简介</nz-form-label>
    <nz-form-control [nzSm]="21" [nzXs]="24">
      <input nz-input formControlName="remark" id="remark" />
      <!-- <nz-form-explain *ngIf="validateForm.get('remark').dirty && validateForm.get('remark').errors"></nz-form-explain> -->
    </nz-form-control>
  </nz-form-item>
  <nz-divider [nzDashed]="true"></nz-divider>
  <nz-form-item>
    <nz-form-label [nzSm]="5" [nzXs]="24" nzFor="isDev">开启开发模式</nz-form-label>
    <nz-form-control [nzSm]="19" [nzXs]="24">
      <nz-switch formControlName="isDev"></nz-switch>
      <!-- <nz-form-explain *ngIf="validateForm.get('remark').dirty && validateForm.get('remark').errors"></nz-form-explain> -->
    </nz-form-control>
  </nz-form-item>
  <nz-divider [nzDashed]="true"></nz-divider>
  <nz-form-item>
    <nz-form-label [nzSm]="3" [nzXs]="24" nzFor="icon">图标</nz-form-label>
    <nz-form-control [nzSm]="21" [nzXs]="24">
      <div style="width:auto;height: 242px;border: 1px solid #D9D9D9;border-radius: 4px">
        <ng-container *ngFor="let item of iconsArry">
          <div class="icon" [ngClass]="{'checked':item.checked}" (click)="selectIcon(item.id)">
            <!-- <i style="font-size: 2em"class="{{item.icon}}"></i> -->
            <i style="font-size: 2em" nz-icon type="{{item.icon}}" theme="outline"></i>
            </div>
        </ng-container>

      </div>
      <!-- <nz-form-explain *ngIf="validateForm.get('icon').dirty && validateForm.get('icon').errors">图标无效</nz-form-explain> -->
    </nz-form-control>
  </nz-form-item>

</form>
