<ul *ngIf="items.isRoot" nz-menu [nzTheme]="'light'" [nzMode]="'inline'" [nzInlineCollapsed]="settings.layout.collapsed">
  <ng-container *ngFor="let group of items.menu">
      <ng-container>
            <!-- <li *ngIf="group.isGroup" [ngClass]="{'group-li': !settings.layout.collapsed}">
              <span *ngIf="!settings.layout.collapsed" [ngClass]="{'group-text': !settings.layout.collapsed}">{{group.text}}</span>
              <nz-divider style="margin:16px 0"></nz-divider>
            </li> -->
            <ng-container *ngIf="group.isGroup">
                <li *ngIf="!settings.layout.collapsed"  [ngClass]="{'group-li': !settings.layout.collapsed}" >
                    <span *ngIf="!settings.layout.collapsed" [ngClass]="{'group-text': !settings.layout.collapsed}" >{{group.text}}</span>
                    <nz-divider style="margin:16px 0"></nz-divider>
                   </li>
            </ng-container>
            <ng-container *ngFor="let item of group.children">
              <li *ngIf="!item.isLeaf" nz-submenu>
                <span title>
                  <!-- <i class="{{item.icon}}"></i> -->
                  <i nz-icon type="{{item.icon}}"></i>
                  <span>
                    {{item.text}}
                  </span>
                </span>
                <app-a [items]="{isRoot:false,menu:item.children}"></app-a>
              </li>
              <li (click)="go(item.link)" nz-menu-item *ngIf="item.isLeaf">
                <span title>
                  <!-- <i class="{{item.icon}}"></i> -->
                  <i nz-icon type="{{item.icon}}"></i>
                  <span>{{item.text}}</span>
                </span>
              </li>
            </ng-container>

        </ng-container>
  </ng-container>
</ul>
<ul *ngIf="!items.isRoot">
  <ng-container *ngFor="let option of items.menu">
    <li *ngIf="!option.isLeaf" nz-submenu [ngClass]="{'folder-li': !settings.layout.collapsed}">
      <span title>
        <!-- <i class="{{option.icon}}"></i> -->
        <i nz-icon type="{{option.icon}}"></i>
        <span>
          {{option.text}}
        </span>
      </span>
      <app-a [items]="{isRoot:false,menu:option.children}"></app-a>
    </li>
    <li (click)="go(option.link)" nz-menu-item *ngIf="option.isLeaf">
      <span title>
        <!-- <i class="{{option.icon}}"></i> -->
        <i nz-icon type="{{option.icon}}"></i>
        <span>{{option.text}}</span>
      </span>
    </li>
  </ng-container>
</ul>
