<ul nz-menu [nzTheme]="'light'" [nzMode]="'inline'" [nzInlineCollapsed]="settings.layout.collapsed" *ngIf="!flag||flag===undefined">
  <ng-container *ngFor="let group of list">
    <ng-template [ngIf]="group._hidden !== true">
      <li *ngIf="group.group" [ngClass]="{'sidebar-nav__item sidebar-nav__group-title': !settings.layout.collapsed}">
        <span *ngIf="!settings.layout.collapsed">{{group.text}}</span>
      </li>
      <ng-container *ngFor="let child1 of group.children">
        <li nz-menu-item *ngIf="child1._type === 1" routerLinkActive="sidebar-nav__selected"
          [routerLinkActiveOptions]="{exact: child1.linkExact}">
          <!-- link -->
          <a  (click)="onSelect(child1)" [routerLink]="child1.link" [target]="child1.target">
            <i *ngIf="!collapsed" class="{{ child1.icon }}"></i>
            <nz-tooltip *ngIf="collapsed" nzPlacement="right" [nzTitle]="child1.text">
              <span nz-tooltip>
                <i class="{{ child1.icon }}"></i>
              </span>
            </nz-tooltip>
            <span>{{ child1.text }}</span>
          </a>
          <!-- external link -->


        </li>
        <li nz-menu-item *ngIf="child1._type === 2" routerLinkActive="sidebar-nav__selected"
        [routerLinkActiveOptions]="{exact: child1.linkExact}">
            <a  href="{{ child1.externalLink }}" target="{{child1.target}}" data-type="external">
                <i *ngIf="!collapsed" class="{{ child1.icon }}"></i>
                <nz-tooltip *ngIf="collapsed" nzPlacement="right" [nzTitle]="child1.text">
                  <span nz-tooltip>
                    <i class="{{ child1.icon }}"></i>
                  </span>
                </nz-tooltip>
                <span>{{ child1.text }}</span>
              </a>
        </li>

        <div *ngIf="child1.badge" title="{{child1.badge}}" class="badge badge-{{child1.badgeStatus}}" [class.badge-dot]="child1.badgeDot">
          <em>{{child1.badge}}</em>
        </div>
        <!-- <ng-container *ngIf="child1._type === 3"> -->
          <li nz-submenu *ngIf="child1._type === 3">
            <span title>
              <i class="{{ child1.icon }}"></i>
              <span>{{ child1.text }}</span>
            </span>
            <ul>
              <app-ssss [flag]="true" [depth]="child1._depth" [items]="child1.children"></app-ssss>
            </ul>
          </li>
        <!-- </ng-container> -->

      </ng-container>
    </ng-template>
  </ng-container>
</ul>
<ng-container *ngIf="flag">
  <ng-container *ngFor="let child1 of list">
      <li nz-menu-item *ngIf="child1._type === 1" routerLinkActive="sidebar-nav__selected"
      [routerLinkActiveOptions]="{exact: child1.linkExact}">
      <!-- link -->
      <a  (click)="onSelect(child1)" [routerLink]="child1.link" [target]="child1.target">
        <i *ngIf="!collapsed" class="{{ child1.icon }}"></i>
        <nz-tooltip *ngIf="collapsed" nzPlacement="right" [nzTitle]="child1.text">
          <span nz-tooltip>
            <i class="{{ child1.icon }}"></i>
          </span>
        </nz-tooltip>
        <span>{{ child1.text }}</span>
      </a>
      <!-- external link -->


    </li>
    <li nz-menu-item *ngIf="child1._type === 2" routerLinkActive="sidebar-nav__selected"
    [routerLinkActiveOptions]="{exact: child1.linkExact}">
        <a  href="{{ child1.externalLink }}" target="{{child1.target}}" data-type="external">
            <i *ngIf="!collapsed" class="{{ child1.icon }}"></i>
            <nz-tooltip *ngIf="collapsed" nzPlacement="right" [nzTitle]="child1.text">
              <span nz-tooltip>
                <i class="{{ child1.icon }}"></i>
              </span>
            </nz-tooltip>
            <span>{{ child1.text }}</span>
          </a>
    </li>
    <div *ngIf="child1.badge" title="{{child1.badge}}" class="badge badge-{{child1.badgeStatus}}" [class.badge-dot]="child1.badgeDot">
      <em>{{child1.badge}}</em>
    </div>
    <!-- <ng-container *ngIf="child1._type === 3"> -->
      <li nz-submenu  *ngIf="child1._type === 3" [ngClass]="{'folder-li': !settings.layout.collapsed}">
        <span title>
          <i class="{{ child1.icon }}"></i>
          <span>{{ child1.text }}</span>
        </span>
        <ul>
          <app-ssss [flag]="true" [depth]="child1._depth" [items]="child1.children"></app-ssss>
        </ul>
      </li>
    <!-- </ng-container> -->
  </ng-container>
</ng-container>
