<ul class="sidebar-nav" *ngIf="!flag||flag===undefined">
  <ng-container *ngFor="let group of list">
    <ng-template [ngIf]="group._hidden !== true">
      <li class="sidebar-nav__item sidebar-nav__group-title" *ngIf="group.group">
        <span>{{ group.text }}</span>
      </li>
      <ng-container *ngFor="let child1 of group.children">
        <li *ngIf="child1._hidden !== true" routerLinkActive="sidebar-nav__selected" [routerLinkActiveOptions]="{exact: child1.linkExact}"
          class="sidebar-nav__item" [class.sidebar-nav__open]="child1._open">
          <!-- link -->
          <a *ngIf="child1._type === 1" (click)="onSelect(child1)" [routerLink]="child1.link" [target]="child1.target">
            <i *ngIf="!collapsed" class="{{ child1.icon }}"></i>
            <nz-tooltip *ngIf="collapsed" nzPlacement="right" [nzTitle]="child1.text">
              <span nz-tooltip>
                <i class="{{ child1.icon }}"></i>
              </span>
            </nz-tooltip>
            <span>{{ child1.text }}</span>
          </a>
          <!-- external link -->
          <a *ngIf="child1._type === 2" href="{{ child1.externalLink }}" target="{{child1.target}}" data-type="external">
            <i *ngIf="!collapsed" class="{{ child1.icon }}"></i>
            <nz-tooltip *ngIf="collapsed" nzPlacement="right" [nzTitle]="child1.text">
              <span nz-tooltip>
                <i class="{{ child1.icon }}"></i>
              </span>
            </nz-tooltip>
            <span>{{ child1.text }}</span>
          </a>
          <!-- has children link -->
          <a *ngIf="child1._type === 3" class="sidebar-nav__sub-title" (click)="toggleOpen(child1)" >
            <i class="{{ child1.icon }}"></i>
            <span>{{ child1.text }}</span>
          </a>
          <!-- badge -->
          <div *ngIf="child1.badge" title="{{child1.badge}}" class="badge badge-{{child1.badgeStatus}}"
            [class.badge-dot]="child1.badgeDot">
            <em>{{child1.badge}}</em>
          </div>
          <!-- Level 2 -->
          <ul *ngIf="child1._type === 3" class="sidebar-nav sidebar-nav__sub sidebar-nav__depth{{child1._depth}}">
            <app-ssss [flag]="true" [depth]="child1._depth" [items]="child1.children"></app-ssss>
          </ul>
        </li>
      </ng-container>
    </ng-template>
  </ng-container>
</ul>

<!-- <ul *ngIf="flag === 3" class="sidebar-nav sidebar-nav__sub sidebar-nav__depth{{depth}}"> -->
<!-- <ng-container *ngIf="flag">
  <ng-container *ngFor="let child1 of list">
    <li *ngIf="child1._hidden !== true" routerLinkActive="sidebar-nav__selected" [routerLinkActiveOptions]="{exact: child1.linkExact}"
      class="sidebar-nav__item" [class.sidebar-nav__open]="child1._open"> -->
      <!-- link -->
      <!-- <a *ngIf="child1._type === 1" (click)="onSelect(child1)" [routerLink]="child1.link" [target]="child1.target">
        <i *ngIf="!collapsed" class="{{ child1.icon }}"></i>
        <nz-tooltip *ngIf="collapsed" nzPlacement="right" [nzTitle]="child1.text">
          <span nz-tooltip>
            <i class="{{ child1.icon }}"></i>
          </span>
        </nz-tooltip>
        <span>{{ child1.text }}</span>
      </a> -->
      <!-- <a *ngIf="child1._type === 1" (click)="onSelect(child1)" [routerLink]="child1.link" [target]="child1.target">
          <i class="{{ child1.icon }}"></i>{{child1.text }}
      </a> -->
      <!-- external link -->
      <!-- <a *ngIf="child1._type === 2" href="{{ child1.externalLink }}" target="{{child1.target}}" data-type="external">
        <i *ngIf="!collapsed" class="{{ child1.icon }}"></i>
        <nz-tooltip *ngIf="collapsed" nzPlacement="right" [nzTitle]="child1.text">
          <span nz-tooltip>
            <i class="{{ child1.icon }}"></i>
          </span>
        </nz-tooltip>
        <span>{{ child1.text }}</span>
      </a> -->
      <!-- has children link -->
      <!-- <a *ngIf="child1._type === 3" class="sidebar-nav__sub-title" (click)="toggleOpen(child1)" (mouseenter)="showSubMenu($event, child1)">
        <i class="{{ child1.icon }}"></i>
        <span>{{ child1.text }}</span>
      </a> -->
      <!-- badge -->
      <!-- <div *ngIf="child1.badge" title="{{child1.badge}}" class="badge badge-{{child1.badgeStatus}}" [class.badge-dot]="child1.badgeDot">
        <em>{{child1.badge}}</em>
      </div> -->
      <!-- Level 2 -->
      <!-- <ul *ngIf="child1._type === 3" class="sidebar-nav sidebar-nav__sub sidebar-nav__depth{{child1._depth}}">
        <app-ssss [flag]="true" [depth]="child1._depth" [items]="child1.children"></app-ssss>
      </ul>
    </li>
  </ng-container>
</ng-container> -->

<!-- </ul> -->

<ng-container *ngIf="flag">
    <ng-container *ngFor="let child1 of list">
        <li *ngIf="child1._hidden !== true" routerLinkActive="sidebar-nav__selected"
            [routerLinkActiveOptions]="{exact: child1.linkExact}" class="sidebar-nav__item"
            [class.sidebar-nav__open]="child1._open">
          <!-- link -->
          <a *ngIf="child1._type === 1" (click)="onSelect(child1)" [routerLink]="child1.link"
             [target]="child1.target">
             <i class="{{ child1.icon }}"></i>{{child1.text }}</a>
          <!-- external link -->
          <a *ngIf="child1._type === 2" href="{{ child1.externalLink }}" target="{{ child1.target }}"
             data-type="external"><i class="{{ child1.icon }}"></i>{{
            child1.text }}</a>
          <!-- badge -->
          <a *ngIf="child1._type === 3" class="sidebar-nav__sub-title" (click)="toggleOpen(child1)" (mouseenter)="showSubMenu($event, child1)">
              <i class="{{ child1.icon }}"></i>{{ child1.text }}
          </a>
          <div *ngIf="child1.badge" title="{{child1.badge}}" class="badge badge-{{child1.badgeStatus}}"
               [class.badge-dot]="child1.badgeDot">
            <em>{{child1.badge}}</em>
          </div>
          <ul *ngIf="child1._type === 3" class="sidebar-nav sidebar-nav__sub sidebar-nav__depth{{child1._depth}}">
              <app-ssss [flag]="true" [depth]="child1._depth" [items]="child1.children"></app-ssss>
            </ul>
        </li>
      </ng-container>
</ng-container>
