<div style="padding: 0 16px 0 16px">
  <div nz-row style="background-color: rgb(246,248,248) ;border-bottom: 1px solid rgb(222,230,231);padding: 8px 0;">
    <div nz-col [nzSpan]="8" class="title-tab">API管理</div>

    <div nz-col [nzSpan]="8">
      <nz-button-group>
        <button nz-button [disabled]="disabledButton" nzType="danger" (click)="deleteAll()">批量删除</button>
        <button nz-button nzType="primary" (click)="openAdd()">添加API</button>
      </nz-button-group>

      <nz-input-group nzSearch [nzSuffix]="suffixIconButton" style="padding-left:16px ">
        <input type="text" [(ngModel)]="key" (keyup)="($event.which === 13)?getApiList():0" nz-input
               placeholder="请输入API名称或描述"/>
      </nz-input-group>
      <ng-template #suffixIconButton>
        <button nz-button nzType="primary" (click)="getApiList()" nzSearch><i nz-icon type="search"></i></button>
      </ng-template>
    </div>

  </div>
</div>
<div style="padding: 16px">
  <nz-card>
    <div nz-row>
      <div nz-col nzSpan="24">
        API列表
      </div>
    </div>
    <div nz-row style="padding-top: 16px">
      <nz-table #ajaxTable nzShowSizeChanger [nzFrontPagination]="false" [nzData]="dataSet" [nzLoading]="loading"
                [nzTotal]="page.totalRow" [(nzPageIndex)]="page.curPage" [(nzPageSize)]="page.pageSize"
                (nzPageIndexChange)="getApiList()"
                (nzPageSizeChange)="getApiList(true)" (nzCurrentPageDataChange)="currentDataChange($event)">
        <thead nzSingleSort>
        <tr>
          <th nzShowCheckbox [(nzChecked)]="allChecked" [nzIndeterminate]="indeterminate"
              (nzCheckedChange)="checkAll($event)"></th>
          <th>名称</th>
          <th>描述</th>
          <th>刷新间隔（秒）</th>
          <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let data of ajaxTable.data">
          <td nzShowCheckbox [(nzChecked)]="data.checked" (nzCheckedChange)="checkLine($event,data.dashboardId)"></td>
          <td>{{data.name}}</td>
          <td>{{data.remark}}</td>
          <td>{{data.interval}}</td>
          <td>
            <a (click)="edit(data)" nz-tooltip nzTitle="编辑"><i class="anticon anticon-edit"></i></a>
            <nz-divider nzType="vertical"></nz-divider>
            <a nz-popconfirm nzTitle="确认删除该API？" (nzOnConfirm)="deleteOne(data)">
              <i nz-tooltip nzTitle="删除" class="anticon anticon-delete"></i></a>
          </td>
        </tr>
        </tbody>
      </nz-table>
    </div>
  </nz-card>
</div>
