<form nz-form >
  <nz-form-item nz-row >
    <nz-form-label [nzSpan]="4" >空间名称</nz-form-label>
    <nz-form-control [nzSpan]="18">
      <input nz-input  id="name">
      <!--<nz-form-explain *ngIf="validateForm.get('email').dirty && validateForm.get('email').errors">The input is not valid E-mail!</nz-form-explain>-->
    </nz-form-control>
  </nz-form-item>
  <nz-form-item nz-row >
    <nz-form-label [nzSpan]="4" >空间描述</nz-form-label>
    <nz-form-control [nzSpan]="18">
      <textarea  nz-input  id="desc" [nzAutosize]="{ minRows: 2, maxRows: 4 }"></textarea>
      <!--<nz-form-explain *ngIf="validateForm.get('email').dirty && validateForm.get('email').errors">The input is not valid E-mail!</nz-form-explain>-->
    </nz-form-control>
  </nz-form-item>
</form>
