<div style="display: flex;flex-direction: row;flex-wrap: wrap;">
  <div style="padding: 16px">
    <nz-card style="width:300px;" [nzCover]="coverTemplate1" [nzActions]="[actionSetting1,actionEdit1,actionEllipsis1]">
      <nz-card-meta nzTitle="数据大屏" nzDescription="This is the description" [nzAvatar]="avatarTemplate1"></nz-card-meta>
    </nz-card>
    <ng-template #avatarTemplate1>
      <nz-avatar nzSrc="{{spaceInfo.avatar}}"></nz-avatar>
    </ng-template>
    <ng-template #coverTemplate1>
      <img alt="example" src="../../../../../../assets/images/templet-01.png"/>
    </ng-template>
    <ng-template #actionSetting1>
      <i nz-icon type="setting"></i>
    </ng-template>
    <ng-template #actionEdit1>
      <i nz-icon type="edit"></i>
    </ng-template>
    <ng-template #actionEllipsis1>
      <i nz-icon type="ellipsis"></i>
    </ng-template>
  </div>
  <div style="padding: 16px">
    <nz-card style="width:300px;" [nzCover]="coverTemplate2" [nzActions]="[actionSetting2,actionEdit2,actionEllipsis2]">
      <nz-card-meta nzTitle="数据报告" nzDescription="This is the description" [nzAvatar]="avatarTemplate2"></nz-card-meta>
    </nz-card>
    <ng-template #avatarTemplate2>
      <nz-avatar nzSrc="{{spaceInfo.avatar}}"></nz-avatar>
    </ng-template>
    <ng-template #coverTemplate2>
      <img alt="example" src="../../../../../../assets/images/data-report.png"/>
    </ng-template>
    <ng-template #actionSetting2>
      <i nz-icon type="setting"></i>
    </ng-template>
    <ng-template #actionEdit2>
      <i nz-icon type="edit"></i>
    </ng-template>
    <ng-template #actionEllipsis2>
      <i nz-icon type="ellipsis"></i>
    </ng-template>
  </div>
  <div style="padding: 16px">
    <nz-card style="width:300px;" [nzCover]="coverTemplate3" [nzActions]="[actionSetting3,actionEdit3,actionEllipsis3]">
      <nz-card-meta nzTitle="空间用户" nzDescription="This is the description" [nzAvatar]="avatarTemplate3"></nz-card-meta>
    </nz-card>
    <ng-template #avatarTemplate3>
      <nz-avatar nzSrc="{{spaceInfo.avatar}}"></nz-avatar>
    </ng-template>
    <ng-template #coverTemplate3>
      <img alt="example" src="../../../../../../assets/images/user.png"/>
    </ng-template>
    <ng-template #actionSetting3>
      <i nz-icon type="setting"></i>
    </ng-template>
    <ng-template #actionEdit3>
      <i nz-icon type="edit"></i>
    </ng-template>
    <ng-template #actionEllipsis3>
      <i nz-icon type="ellipsis"></i>
    </ng-template>
  </div>
</div>

