<!--<h1><a [routerLink]="['/space']" routerLinkActive="router-link-active" >测试空间</a></h1>-->
<nz-layout>
  <nz-content>
    <div nz-row style="background-color: #f0f3f4 ;border-bottom: 1px solid rgb(222,230,231);padding: 8px;">
      <div nz-col nzSpan="4" class="title-tab">
        大屏名称
      </div>
      <div nz-col>
       <a><i nz-tooltip nzTitle="页面已公开" nzPlacement="bottom" class="anticon anticon-eye"></i></a>
       <a><i nz-tooltip nzTitle="页面处于开发模式" nzPlacement="bottom" class="anticon anticon-setting"></i></a>
       <a><i nz-tooltip nzTitle="收藏" nzPlacement="bottom" class="anticon anticon-heart"></i></a>
       <a><i nz-tooltip nzTitle="编辑" nzPlacement="bottom" class="anticon anticon-edit"></i></a>
      </div>
    </div>

    <div nz-row style="background-color: #f5f7fa;padding: 16px;">

     <h1>大屏详细内容</h1>
    </div>
  </nz-content>

</nz-layout>
