<form nz-form >
  <nz-form-item nz-row >
    <nz-form-label [nzSpan]="4" >用户账号</nz-form-label>
    <nz-form-control [nzSpan]="18">
      <input nz-input  name="userNo" [(ngModel)]="userNo">
      <!--<nz-form-explain *ngIf="validateForm.get('email').dirty && validateForm.get('email').errors">The input is not valid E-mail!</nz-form-explain>-->
    </nz-form-control>
  </nz-form-item>
  <nz-form-item nz-row >
    <nz-form-label [nzSpan]="4" >用户姓名</nz-form-label>
    <nz-form-control [nzSpan]="18">
      <input nz-input  name="userName" [(ngModel)]="userName">
      <!--<nz-form-explain *ngIf="validateForm.get('email').dirty && validateForm.get('email').errors">The input is not valid E-mail!</nz-form-explain>-->
    </nz-form-control>
  </nz-form-item>
</form>
