<nz-layout>
  <nz-content>
    <div nz-row style="background-color: #f0f3f4 ;border-bottom: 1px solid rgb(222,230,231);padding: 8px;">
      <div nz-col nzSpan="4" class="title-tab">
        {{screenName}}
      </div>
      <div nz-col>
        <a><i nz-tooltip nzTitle="页面已公开" nzPlacement="bottom" nz-icon type="eye"></i></a>
        <a><i nz-tooltip nzTitle="页面处于开发模式" nzPlacement="bottom" nz-icon type="setting"></i></a>
        <a *ngIf="collectFlag=='F'" (click)="collect()"><i nz-tooltip nzTitle="收藏" nzPlacement="bottom" nz-icon
                                                           type="heart"></i></a>
        <a *ngIf="collectFlag=='T'" (click)="uncollect()"><i nz-tooltip nzTitle="已收藏" nzPlacement="bottom" nz-icon
                                                             type="heart" theme="fill"></i></a>
        <a [routerLink]='["/designer"]'
           [queryParams]="{spaceId: spaceId,dashboardId:dashBoardId}"><i nz-icon type="edit"></i></a>
      </div>
    </div>
    <div class="app-body-center">
      <div class="app-content">
      </div>
      <div class="scale-slide-wrapper">
        <nz-slider [nzDefaultValue]="100" (nzOnAfterChange)="scaleChange($event)" [nzMax]="200" [nzMin]="10"
                   [nzTipFormatter]="formatter"></nz-slider>
      </div>
    </div>

  </nz-content>

</nz-layout>
