<div class="alain-default__header-logo">
  <a [routerLink]="['/']" class="alain-default__header-logo-link">
    <img class="alain-default__header-logo-expanded" src="./assets/logo-full.svg" alt="{{settings.app.name}}" style="max-height:40px;" />
    <img class="alain-default__header-logo-collapsed" src="./assets/logo.svg" alt="{{settings.app.name}}" style="max-height:30px;" />
  </a>
</div>
<div class="alain-default__nav-wrap">
  <ul class="alain-default__nav">
    <!-- Menu -->
    <li>
      <div class="alain-default__nav-item" (click)="toggleCollapsedSidebar()">
        <i class="anticon anticon-menu-{{settings.layout.collapsed ? 'unfold' : 'fold'}}"></i>
      </div>
    </li>
    <!-- Lock Page -->
    <li class="hidden-mobile">
      <div class="alain-default__nav-item" >
        <i class="anticon anticon-lock" nz-tooltip nzTitle="锁定" nzPlacement="bottom"></i>
      </div>
    </li>
    <!-- 数据报告个人中心 -->
    <li class="hidden-mobile">
      <div class="alain-default__nav-item" [routerLink]="['/app/user/user-report']" routerLinkActive="router-link-active">
        <i class="anticon anticon-user" nz-tooltip nzTitle="个人中心"   nzPlacement="bottom"></i>
      </div>
    </li>
    <!-- 空间广场 -->
    <li class="hidden-mobile">
      <div class="alain-default__nav-item" [routerLink]="['/app/square']" routerLinkActive="router-link-active" >
        <i class="anticon anticon-appstore-o" nz-tooltip nzTitle="空间广场" nzPlacement="bottom"></i>
      </div>
    </li>
  </ul>
  <ul class="alain-default__nav">
    <!-- Notify -->
    <li>
      <header-notify></header-notify>
    </li>
    <!-- Task -->
    <li class="hidden-mobile">
      <header-task></header-task>
    </li>
    <!-- App Icons -->
    <li class="hidden-mobile">
      <header-icon></header-icon>
    </li>
    <!-- Settings -->
    <li class="hidden-mobile">
      <nz-dropdown nzTrigger="click" nzPlacement="bottomRight">
        <div class="alain-default__nav-item" nz-dropdown>
          <i class="anticon anticon-setting"></i>
        </div>
        <div nz-menu style="width:200px;">
          <div nz-menu-item>
            <header-fullscreen></header-fullscreen>
          </div>
          <div nz-menu-item>
            <header-storage></header-storage>
          </div>
        </div>
      </nz-dropdown>
    </li>
    <!-- 个人中心 -->
    <li class="hidden-mobile">
      <header-user></header-user>
    </li>
  </ul>
</div>
